* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto slab";
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 50%;
  margin: 20px;
  width: 35px;
  height: 35px;
}

body {
  background-size: cover;
}

input {
  border-radius: 8px;
  margin: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#weather {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

#city-name {
  font-size: 50px;
}

#city {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  font-size: 36px;
  font-weight: bold;
}

.description, .temperature, .feels-like, .humidity {
  font-size: 28px;
}